# Nova
.nova/

# Build artifacts
build/
htdocs/main.js
dist/

# Tiled files
htdocs/data/maps/*.json
htdocs/data/tilesets/*.json

# Files which need custom formatting
htdocs/data/rooms.json
htdocs/data/levels.json
